---
layout: default
---
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
<div class="pagination">
  {% if page.previous.url %}
  <a class="pagination-item newer" href="{{page.previous.url}}">Older: {{page.previous.title}}</a>
  {% else %}
  <span class="pagination-item newer">Older</span>
  {% endif %}
  {% if page.next.url %}
  <a class="pagination-item older" href="{{page.next.url}}">Newer: {{page.next.title}}</a>
  {% else %}
  <span class="pagination-item older">Newer</span>
  {% endif %}
</div>
Use Latex in your comments - see <a href="about">About</a>.
<script>
var idcomments_acct = '332224dc9d8d3fa1b3e2e0ab11cbad9b';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
